﻿<div class="row">
    <div class="col-md-4">
        <h2>Admin</h2>
        <div id="d_body">
            <form id="frm_Document" enctype="multipart/form-data">
                <div>
                    <label>
                        Browse File
                    </label>
                    <input name="i_myFile" type="file" />
                </div>
                <div>
                    <input type="submit" value="Upload" />
                </div>
            </form>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/document/document.js")
